  * {

    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
  }


  Body {

    background-color: #001;
    display: flex;

  }

  .Img-box {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
  }

  .Img-box img {

    width: 100%;
  }


  .Profile {

    display: flex;
    align-items: center;
    gap: 30px;
  }


  .Profile h2 {

    font-size: 20px;
    text-transform: capitalize;
  }

  .Menu {

    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;

  }

  .Menu:hover {
    width: 260px;

  }


  Ul {

    list-style: none;
    position: relative;
    height: 95%;
  }

  Ul li a {

    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
  }

  Ul li a:hover,
  .active,
  .Data-info .Box:hover,
  Td:hover {
    background-color: #ffffff55;
  }

  .Log-out {

    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .Log-out a {
    background-color: #a00;
  }

  Ul li a i {

    font-size: 30px;
  }

  .Content {

    width: 100%;
    margin: 10px;
  }

  .Title-info {

    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;

  }

  .Data-info {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }

  .Data-info .Box {

    background-color: #123;
    height: 200px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .Data-info .Box i {

    font-size: 40px;

  }

  .Data-info .Box .Data {

    text-align: center;
    text-decoration: none;

  }

  .Data-info .Box .Data span {

    font-size: 30px;
  }

  Table {

    width: 100%;
    text-align: center;
    border-spacing: 8px;

  }

  Td,
  Th {

    background-color: #123;
    height: 40px;
    border-radius: 8px;
  }

  Th {

    background-color: #0080ff;
  }

  .Price,
  .Count {

    padding: 6px;
    border-radius: 6px;
  }

  .Price {

    background-color: darkgreen;
  }

  .Count {

    background-color: gold;
    color: black;

  }